/*
  Global CSS file
*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}

body {
	background: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

/* States CSS */
svg{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:1px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

